.slider {
    min-height: 50vh;
    background-color: #000000;
    padding-left: 5%;
    padding-right: 5%;
}

.learn-more{
    margin-bottom: 2%;
    position: relative;
    .img{
        width: 100%;
        height: 60vh;
    }
    .info {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 30%;
        p{
            text-transform: uppercase;
            color: #ffffff;
        }
        h3{
            color: #f5511e;
            font-size: 25px;
        }
        .btn-learnmore {
            padding: 5px;
            font-size: 15px;
            border-radius: 2px;
            outline: none;
            cursor: pointer;
        }
    }
}