.items {
    padding: 1%;
    cursor: pointer;
    .img {
        width: 90%;
        min-height: 65%;
        border-radius: 1%;
    }
    .details {
        display: grid;
        grid-template-columns: 4fr 1fr;
        p{
            color: orange;  
            font-size: 12px;  
        }
        .price {
            margin-top: 15px;
        }
        .img-details {
            display: grid;
            grid-template-columns: 2fr 8fr;

            .img-icon {
                width: 50%;
            }
            .border-bottom {
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;
                .name {
                    font-weight: bold;
                }
            }
        }
    }
}